.hoster {
  width: auto;
  height: 100%;
}
.header {
  width: auto;
  height: 45px;
  padding: 0px 0px;
  border-bottom: 1px solid #808080;
}
.hostframe {
  z-index: 2;
  border: none;
  width: 100%;
  min-height: 93%;
  height: auto;
  position: relative;
  background: rgba(255, 255, 255,0.09);
  backdrop-filter: blur(15px);
  border-radius: 5px;
  margin: 5px 0px 0px 0px;
}
.menu {
  background: transparent;
  top: 60px;
  position: absolute;
  z-index: 4;
  width: auto;
  height: auto;
  max-height: 90%;
}
.sidepl {
  position:relative;
  width: 300px;
  min-height: 697px;
  height: auto;
  border-radius: 5px 0px 0px 5px;
  background: rgba(200,200,200, 0.08);
  backdrop-filter: blur(50px);
  animation-name: grow;
  animation-duration: 0.3s;
}
@keyframes grow {
  0% {width: 0px}
  100% {width: 300px}
}
.buttholder {
  position: relative;
  display: inline-block;
  left: 9px;
}
.trbutt {
  width: 40px;
  height: 40px;
  position: relative;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 25px;
  padding: 0px 0px 0px 0px;
  margin: 0px 5px 0px 5px ;
  background-color: white;
  color: black;
  cursor: pointer;
}
.trbutt:hover {
  border: 1px solid red;
  color:red;
}
.trbutt:disabled {
  border: 1px solid darkgray;
  color:darkgray;
  background-color: white;
  cursor: not-allowed;
}
.trbutt:disabled:hover {
  border: 1px solid darkgray;
  color:darkgray;
  background-color: white;
}
.menbutt {
  position: relative;
  background: transparent;
  border: none;
  font-size: 36px;
  padding: 0px 0px 0px 0px;
  margin: 0px 12px 0px 12px ;
  cursor: pointer;
}
.menbutt:hover {
  color: red;
}
#search {
  width: 28%;
  height: 25px;
  margin: 7px 7px;
  padding: 2px 8px ;
  border: none;
  border-radius: 9px;
  position: fixed;
  left: 35.5%;
  color: black;
  background: rgba(255, 255, 255,0.09);
  backdrop-filter: blur(15px);
  text-align: center;
  font-size: 16px;
}
body {
  background-image: url("img/lee.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.bot3 {
  width: 100%;
  height: 60px;
  font-size: 20px;
  border: 0.5px solid #808080;
  border-radius: 0px;
  background: white;
  cursor: pointer;
}
.bot3:hover {
  background: red;
  color: white;
  border: 0.5px solid #FFF;
  border-radius: 0px;
}
.annholder {
  height: 50px;
  width: auto;
  animation-name: hiopen;
  animation-duration: 0.2s;
  border: none;
}
@keyframes hiopen {
  0% {height: 0px;}
  100% {height: 50px;}
}
.semester {
  width: 150px;
  height: 100%;
  border: 0.5px solid gray;
  font-size: 18px;
  cursor: pointer;
}
.semester:hover {
  color: white;
  background: red;
}
.semester:disabled {
  color: white;
  background: green;
  border-left: 0.5px solid gray;
  border-right: 0.5px solid gray;
  border-top: 0.5px solid gray;
  border-bottom: none;
}
.semester:disabled:hover {
  color: white;
  background: green;
  border-left: 0.5px solid gray;
  border-right: 0.5px solid gray;
  border-top: 0.5px solid gray;
  border-bottom: none;
}
.semholder
.spcopr {
  width: 298px;
  height: 45px;
  color: white;
  background: green;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
.spcopr:hover {
  color: black;
  background: green;
  background: rgba(255, 255, 255, 0.3);
  border: 0.1px solid gray;
}
.mospc {
  width: 100%;
  min-height: auto;
  border: none;
}
.trimestre {
  width: 300px;
  height: 100%;
  border: 0.5px solid gray;
  font-size: 18px;
  cursor: pointer;
}
.trimestre:hover {
  color: white;
  background: red;
}
.trimestre3 {
  width: 300px;
  height: 100%;
  color: white;
  background: green;
  font-size: 18px;
  border-left: 0.5px solid gray;
  border-right: 0.5px solid gray;
  border-top: 0.5px solid gray;
  border-bottom: none;
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;;
}
.social {
  height: 30.1px;
  width: auto;
  margin: 4.95px;
  position: absolute;
  right: 3%;
}
p {
  font-size: 27.9px;
  color: white;
}
.watchholder {
  position: absolute;
  top: -17px;
  left: 10%;
  height: 28px;
  padding: 0px;
  margin: 0px;
}
img {
  border: none;
  background: none;
}
img:hover {
  box-shadow: 0px 0px 5px 5px #FFF;
  background: white;
}
img#IMG {
  border: none;
  background: none;
}
img#IMG:hover {
  box-shadow: none;
  background: transparent;
}
.holder {
  width: 50.5px;
  height: 50.5px;
  z-index: 6;
}
#IMG {
  position: relative;
  animation-name: upwe;
  animation-duration: 1s;
}
@keyframes upwe {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
